nav {
    background-color: gray;
    overflow: hidden;
    /* margin: 0; */
    padding-top: 0;
    width: 100%;
    border-radius: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 77%;
}

nav li {
    display: inline-block;
    font-size: 17px;
}

/* #home {
    display: inline-block;
    margin-right: 90%;
} */

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
}

#body {
    background-color: whitesmoke;
}

/* 
.logo {
    width: 25px;
    height: 25px;
    text-align: center;
    display: block;
    padding: 5px 5px;
    margin-right: 77%;
    margin-bottom: 0px;
} */

.products {
    text-align: center;
    padding: 50px 0;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-item {
    max-width: 300px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.product-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buy-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buy-btn:hover {
    background-color: #0062cc;
}

/* -----------------------------NAMES--------------------------------------------------------- */
.names {
    margin-top: 5px;
}


.fname {
    /* margin-left: px; */
    margin-right: 20px;


}

#ft {
    height: 35px;
    width: 300px;
    font-size: 14pt;
}

.lname {
    margin-left: 20px;

}

#lt {
    height: 35px;
    width: 300px;
    font-size: 14pt;
}

#country {
    height: 25px;
    width: 300px;
    font-size: 14pt;
}